# 自動生成される型定義ファイルを除外したい場合の例
# (手動作成する src/ 以下の d.ts はコミット対象にする)
vite.config.d.ts
*.tsbuildinfo

# 自動生成用の特定ファイルのみ指定する場合
# auto-imports.d.ts
# components.d.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
*.env
*.env.*
!.env.example
!.env.sample

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Raw Windower Lua data (Excluded from Git)
raw_data/